body{
    margin: 0px;
    padding: 0px;
    background: #F3F5FC;
}

.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
    background: #F3F5FC;

}

.logo{
    width: 100%;
    float: left;
    background: #F3F5FC;
}

.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #F3F5FC;
}

.left{
    float: left;
    width: 70%;
    height: 70%;
    background: #F3F5FC;
    border-radius: 15px;
}

.right{
    float: right;
    width: 30%;
    height: auto;
    background: #F3F5FC;
    border-radius: 15px;
}

.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 10px;
    background: #F3F5FC;
}

.logoImg{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}

.tittle{
    float: inherit;
    margin-left: 20%;
}

#imgDer{
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: auto;
}

#texto{
    margin-left: 7%;
    margin-right: 5%;
}

#texto2{
    float: left;
    margin-left: 10%;
    color: #0A3871;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 15px;
}

#btn-encriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 15px;
    margin-left: 15%;
    color: white;
    background: #0A3871;
    ;
}

#btn-desencriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 15px;
    margin-left: 8%;
    background: #D8DFE8;
}

#copiar{
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #D8DFE8;
    border-radius: 15px;
    display: none;
}

footer{
    margin: 0 auto;
    padding-top: 40px;
    color:#495057;
    text-align: center;
    font-size: 12px;
}